@mixin colourScheme($team, $primaryColour, $secondaryColour) {
    .wrapper--#{$team} {
        .header {
            color: $primaryColour;
        }

        .header:before {
            background-color: $secondaryColour;
        }

        .header__name--type {
            color: $secondaryColour;
        }

        .stats__number {
            color: $primaryColour;
        }

        .header__meta span:first-of-type:after {
            background-color: $secondaryColour;
        }
    }

    .team-1--#{$team} {
        .team-1 {
            color: $primaryColour;
        }
    }

    .team-2--#{$team} {
        .team-2 {
            color: $primaryColour;
        }
    }
}

.wrapper--generic {
    .header__meta .input[data-input='team'] {
        display: none;
    }
}